<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="dividas">Dividas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive>
        <a class="nav-link" routerLink="dividas-paga">
          <i class="fas fa-thumbs-up"></i>&nbsp; Pagas</a>
      </li>
      <li class="nav-item" routerLinkActive>
        <a class="nav-link" routerLink="dividas-pendentes">
          <i class="fas fa-clock"></i>&nbsp; Pendentes</a>
      </li>
      <li class="nav-item" routerLinkActive>
        <a class="nav-link" routerLink="contatos">
          <i class="fas fa-address-book"></i>&nbsp; Contato</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item dropdown" dropdown>
      <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Deyvison
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">
          Perfil
        </a>
        <div role="separator" class="divider"></div>
        <a class="dropdown-item" href="#">
          Sair
        </a>
      </div>
    </li>
  </ul>
</nav>